<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERORR</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <%- include('partials/header'); %>
    </header>
    <main>
        <div class="block">
            <div class="error-text">
            <h2>Ошибка</h2>
            <% if(err.status = 404){ %>
                <h2><%=err.message%></h2>
                <img src="<%=img%>" alt="" width="100px">
            <%}%>
            <br>
            <br>
            <p>Описание Ошибки</p>
            </div>
            <div class="error-img">
                <img src="errror.jpg" alt=":)" width="100px">
            </div>
        </div>
    </main>
    <footer class="bg-light text-center text-lg-start">
        <%- include('partials/footer'); %>
    </footer>
</body>
</html>