<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/index.css">
    <title>Error</title>
</head>
<body>
    <div class="error-massage">
        <h2>Страница не найдена</h2>
        <p>Вернитесь на главную</p>
        <a href="/">Главная</a>
    </div>
</body>
</html>