@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js);


.btn-outline-success {
  --bs-btn-color: #198754;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6be028;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #198754;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #198754;
  --bs-gradient: none;
}

.register-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15vh;
  div {
    max-width: 1000px;
  }
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 22vh;
  div {
    max-width: 1000px;
  }
}
.container{
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  flex-direction: column;
  margin-top: 20px;
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.container-form{
  background: rgba(255, 255, 255, 0.4);
  width: auto;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.container-gif{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
body{
  display: flex;
  flex-direction: column;
  background: linear-gradient(190deg, rgb(99, 71, 167) 0%, rgba(114, 61, 142, 0.5) 40%, transparent 60%, rgba(159, 83, 186, 0.2) 65%, rgb(145, 64, 132) 100%), linear-gradient(300deg, rgb(153, 72, 146) 0%, rgb(100, 55, 144) 55%, rgb(141, 73, 144) 55%, rgb(118, 79, 177) 100%);
}
.card-entry{
  background: rgba(255, 255, 255, 0.4);
  margin-bottom: 20px;
  font-size: 18px;
}
main{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
footer{
  // display: flex;
  margin-top: 100px;
  
}