<div class="navbar">
    <div class="navbar-container">
        <h2>Forum</h2>
    </div>
    <div class="navbar-container">
    </div>
    <div class="navbar-container">
        <ul class="navbar-item">
            <li class="navbar-li"><a href="/entry" class="container-link">Главная</a></li>
            <li class="navbar-li"><a href="/about" class="container-link">О нас</a></li>
            <li class="navbar-li"><a href="/" class="container-link">Выйти</a></li>
        </ul>
    </div>
</div>